
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>ADMİN ANASAYFA. HOŞGELDİNİZ...</h2>

<p style="color:blue; font-size:30px; font-family:Calibri;">BU PROJEDE REPOSITORY DESİGN PATTERN KULLANARAK CRUD İŞLEMLERİNİ DAHA BASİT BİR ŞEKİLDE YAZDIM. BUNA EK OLARAK MS SQL, ENTITY FRAMEWORK, AUTHORİZE, KISITLAMA, PARTİAL VİEW, LINQ, İLETİŞİM GİBİ DAHA BİRÇOK TEKNOLOJİ KULLANDIM. AYNI ZAMANDA KULLANICI ARAYÜZÜNDE YETKİNLİKLERİM SAYFASINDA TEK VİEW ÜZERİNDE 4 AYRI MODELİ /models/entity KLASÖRÜNDEKİ ViewModel SINIFINDA TUTARAK BU MODELLERİN HEPSİNİ TEK VİEWDE KULLANDIM.TEŞEKKÜRLER </p>

