@model ResumeSiteWithMvc.Models.entity.tblHobilerim
@{
    ViewBag.Title = "hobiEkle";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>hobiEkle</h2>

@using (Html.BeginForm("hobiEkle", "hobi", FormMethod.Post))
{
    <div class="form-group">
        <label>Hobi Giriniz</label>
        @Html.TextBoxFor(i => i.hobi, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.hobi,"", new { @style = "color:red;" })
    </div>
    <button class="btn btn-primary">Hobi Ekle</button>
    @Html.HiddenFor(i => i.ıd)

}

