@using ResumeSiteWithMvc.Models.entity
@model List<tblDeneyimlerim>
@{
    Layout = null;
}

<div class="resume-section-content">
    <h2 class="mb-5">Deneyimlerim</h2>
    @foreach (var i in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@i.baslik</h3>
                <div class="subheading mb-3">@i.altBaslik</div>
                <p>@i.aciklama</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@i.tarih</span></div>
        </div>
    }
</div>

